.container-form{
    /* width: 100%;
    height: 120vh; */
    background-image: linear-gradient(to bottom, rgba(64, 144, 168, 0.95), rgba(251, 255, 255, 0.2)), url("../../../assets/img/Foto-Dolores.JPG");
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
}

@media screen and (max-width: 768px){
    .container-form{
        
    }
    
}