<footer>
    <div class="content">
        <div class="top">
            <div class="logo-details" [routerLink]="['']">
                <i [routerLink]="['/home']" class="logo"></i>
                <span class="logo_name">Ciudad de Dolores</span>
            </div>
            <div class="media-icons">
                <a href="#"><i class='bx bxl-facebook bx-lg'></i></a>
                <a href=""><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="29" height="29" viewBox="0 0 50 50">
                    <path d="M 5.9199219 6 L 20.582031 27.375 L 6.2304688 44 L 9.4101562 44 L 21.986328 29.421875 L 31.986328 44 L 44 44 L 28.681641 21.669922 L 42.199219 6 L 39.029297 6 L 27.275391 19.617188 L 17.933594 6 L 5.9199219 6 z M 9.7167969 8 L 16.880859 8 L 40.203125 42 L 33.039062 42 L 9.7167969 8 z"></path>
                    </svg></a>
                <a href="#"><i class='bx bxl-instagram bx-lg'></i></a>
                <a href="#"><i class='bx bxl-linkedin bx-lg'></i></a>
            </div>
        </div>
        <div class="link-boxes">
            <ul class="box">
                <li class="link_name">Web</li>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Registrarse</a></li>
            </ul>
            <ul class="box">
                <li class="link_name">Servicios</li>
                <li><a href="#">Credencial</a></li>
                <li><a href="#">Clubes Municipales</a></li>
                <li><a href="#">Tasas urbanas</a></li>
            </ul>
            <ul class="box input-box">
                <li class="link_name">Suscribite</li>
                <li><input type="text" placeholder="Email"></li>
                <li><input type="button" value="Enviar"></li>
            </ul>
        </div>
    </div>
    <div class="bottom details">
        <div class="bottom_text">
            <span class="copyright_text">Copyright &#64;2024 - All rights reserved</span>
           <span class="policy_terms">
                <a href="#">Política de privacidad</a>
                <a href="#">Términos y condiciones</a>
           </span>

        </div>
    </div>
</footer>