.card {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.12);
    margin: 20px auto;
    max-width: 80vw;
    width: 90%;
    background: linear-gradient(to left bottom, var(--color-grey-dark) 0%, var(--color-blue) 100%);
    color: var(--color-grey);
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    height: 70vh;
}

.card:hover {
    transform: perspective(1000px) rotateY(5deg);
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    transition: opacity 0.3s ease;
    z-index: -1;
}

.card:hover::before,
.card:hover::after {
    opacity: 0;
}

.card-header,
.card-body {
    position: relative;
    z-index: 1;
}

.card-header {
    background-color: var(--color-blue-dark);
    color: var(--color-grey);
    padding: 20px;
    text-align: center;
}

.card-body {
    padding: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-info img {
    border-radius: 50%;
    height: 80px;
    margin-right: 20px;
    width: 80px;
}

.user-info h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.user-info p {
    font-size: 1rem;
    margin: 0;
}

.qr-code {
    text-align: center;
}

.qr-code img {
    height: 100px;
    width: 100px;
}
