.card {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.12);
    margin: 20px auto;
    width: 650px;
    background: linear-gradient(to left bottom, var(--color-grey-dark) 0%, var(--color-blue) 100%);
    color: var(--color-grey);
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    margin-top: 20%;
}

.card:hover {
    transform: perspective(1000px) rotateY(5deg);
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    transition: opacity 0.3s ease;
    z-index: -1;
}

.card:hover::before,
.card:hover::after {
    opacity: 0;
}

.card-header,
.card-body {
    position: relative;
    z-index: 1;
}

.card-header {
    background-color: var(--color-blue-dark);
    color: var(--color-grey);
    padding: 20px;
    text-align: center;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.first-line{
    flex: 50%;
    display: flex;
    align-items: center;
}

.second-line{
    flex: 50%;
    display: flex;
}

.logo{
   display: flex;
   align-items: center;
   width: 200px;
   min-width: 30px;
   gap: 15px;
}

.logo img{
   width: 60%;
    object-fit: contain;
}

.photo {
    width: 200px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.user-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.user-info h2{
    font-size: 2.8em;
    font-weight: 400;
}

.user-info_adic{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: flex-start;
    padding-top: 11px;
}

.qr-code {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 180px;
    left: 450px;
}

.qr-code svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@media (max-width: 750px) {
    .card {
        transform: rotate(90deg);
        margin: 0;
        padding: 0;
        width: 800px;
        margin-top: 120px;
    }

    .card:hover {
        transform: rotate(90deg) perspective(1000px) rotateY(5deg);
    }
 
}