.card {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.12);
    width: 800px;
    height: 600px;
    background: linear-gradient(to left bottom, var(--color-grey-dark) 0%, var(--color-blue) 100%);
    color: var(--color-grey);
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    display: flex;
    margin: auto auto;
}

.card:hover {
    transform: perspective(1000px) rotateY(5deg);
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    transition: opacity 0.3s ease;
    z-index: -1;
}

.card:hover::before,
.card:hover::after {
    opacity: 0;
}

.card-header,
.card-body {
    position: relative;
    z-index: 1;
}

.card-header {
    background-color: var(--color-blue-dark);
    color: var(--color-grey);
    padding: 2em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card-header h1 {
    font-size: 2.8em;
    font-weight: 400;
}

.card-body {
    display: flex;
    border-radius: 1px solid var(--color-grey);
    justify-content: space-between;
}

.name{
    padding: 20px 20px 20px 40px;
    font-size: 4em;
}

.logo {
    display: flex;
    align-items: center;
    width: 10%; 
}

.logo img {
    width: 100%;
    object-fit: contain;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-self: flex-start;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.user-info h2 {
    font-size: 2.8em;
    font-weight: 400;
}

.qr-code {
    width: 300px;
    align-self: flex-end;
    margin-bottom: 10px;
}

.qr-code svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    fill: white;
}


@media (max-width: 750px) {
    .card {
        /* transform: rotate(90deg); */
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 90%;
        height: 90%;
        margin: auto auto;
    }

    .card-header {
        padding: 1em;
        flex-wrap: wrap;
    }

    .card-header h1 {
        font-size: 1.8em;
    }

    .card-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 35vh 1fr;
        grid-template-areas:
            "photo photo"
            "info qr";
    }

    .card-header .logo{
        width: 50px;
    }

    .card-header h2{
        margin-bottom: 0;
    }

    .name {
        padding: 20px 20px 20px 20px;
        font-size: 3em;
        text-align: center;
    }

    .photo{
        width: 100%;
        height: 100%;
        grid-area: photo;
    }

    .logo {
        width: 20%;
    }

    .user-info {
        gap: 13px;
        padding-top: 10px;
        padding-left: 10px;
        justify-content: center;
        grid-area: info;
    }

    .user-info h2 {
        font-size: 1.8em;
    }

    .qr-code {
        width: 200px;
        grid-area: qr;
        align-self: auto;
    }
    
}

@media screen and ( max-width: 500px) {
    .card-header{
        flex-direction: column;
        align-content: center;
    }

    .logo{
        align-items: center;
        width: 10%;
        justify-content: center;
    }

    .card{
        width: 100%;
        height: 100%;
    }
}