.form {
    margin: 15vh auto;
    height: 100vh;
    padding: 10px;
    position: relative;
    width: 80%;
    max-width: 600px;
    /* background: rgba(255, 255, 255, 0.2); */
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(7px);
    /* z-index: 1000; */
    font-size: 1.8rem;
    background: linear-gradient(top bottom, var(--color-blue) 0%, var(--color-grey)100%);
}

.form::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 22px;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 24, 31, 0.7) 0, rgba(0, 52, 66, .7) 39%, rgba(0, 52, 66, .6) 59%, rgba(0, 52, 66, 0) 100%);
    -webkit-filter: brightness(200%);
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-size: 2rem;
    color: white;
}

fieldset {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 20px;
}

legend {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

input[type="text"] {
    /* background: rgba(255, 255, 255, 0.2); */
    /* border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-size: 1.8rem !important;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%; */
    color: white;
}

.form-control {
    background: transparent !important;
    color: white;
    font-size: 2rem;
}

.form-control[type="email"] {
    background: transparent !important;
}

.form-control[type="password"],
.form-control[type="text"],
.form-control[type="email"]:active,
.form-control[type="password"]:active,
.form-control[type="text"]:active,
.form-control[type="email"]:focus,
.form-control[type="password"]:focus,
.form-control[type="text"]:focus,
.form-control[type="email"]:hover,
.form-control[type="password"]:hover,
.form-control[type="text"]:hover {
    background: transparent !important;
}

button[type="submit"] {
    background: var(--color-blue);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    /* background-color: #D3DA83; */
    background-color: var(--color-blue-dark)
}

button[type="submit"]:active,
button[type="submit"]:focus,
button[type="submit"]:hover {
    background: var(--color-blue-dark);
    color: #E9B02C;
    transform: scale(1.02) translateY(5px);
    transition: transform 0.3s ease;
}

.card {
    height: 50vh;
}

.notification {
    position: absolute;
    font-size: 1.9rem;
    bottom: 50px;
    left: 50px;
    width: max-content;
    padding: 20px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #141619;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 4s forwards;
    -webkit-animation: fade-in 4s forwards;
}

.notification_progress {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right, #539bdb, #3250bf);
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    animation: load 3s 0.25s linear forwards;
    -webkit-animation: load 3s 0.25s linear forwards;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY();
        -moz-transform: translateY();
        -ms-transform: translateY();
        -o-transform: translateY();
    }
}

@keyframes load {
    100% {
        transform: scaleX(1);
    }
}