<img src="https://www.bing.com/ck/a?!&&p=3375fbe5c99b5c9cJmltdHM9MTcxMTc1NjgwMCZpZ3VpZD0xYWY2Mjc0ZC05MTdjLTY1MmQtMGE2My0zMzBlOTBkOTY0ZWImaW5zaWQ9NTU2OA&ptn=3&ver=2&hsh=3&fclid=1af6274d-917c-652d-0a63-330e90d964eb&u=a1L2ltYWdlcy9zZWFyY2g_cT1pbWFnZW5lcyUyMHBsYXlhJkZPUk09SVFGUkJBJmlkPTZDQUY5QTc5REJGRTRCMjg2NkM3MkVGMzdENTk3NEIxRTYxRjkzQjY&ntb=1" alt="">

<div class="container form">
    <form [formGroup]="loginForm" (ngSubmit)="send()">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" [ngClass]="{'is-invalid': hasError('email','required') || hasError('email', 'email')}"
                class="form-control" id="email" formControlName="email">
            @if (hasError('email', 'email') || hasError('email', 'required')){
            <div class="text-danger">
                Mail inválido
            </div>
            }
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" [ngClass]="{'is-invalid': hasError('password','required')}" class="form-control"
                id="password" formControlName="password">

            @if (hasError('password', 'required')){
            <div class="text-danger">
                Password requerida
            </div>
            }

        </div>
       

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>