.form {
    margin: 15vh auto;
    height: 100vh;
    padding: 10px;
    position: relative;
    width: 80%;
    max-width: 600px;
    /* background: rgba(255, 255, 255, 0.2); */
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(7px);
    /* z-index: 1000; */
    font-size: 1.8rem;
    background: linear-gradient(top bottom, var(--color-blue) 0%, var(--color-grey)100%);
}

.form::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 22px;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 24, 31, 0.7) 0, rgba(0, 52, 66, .7) 39%, rgba(0, 52, 66, .6) 59%, rgba(0, 52, 66, 0) 100%);
    -webkit-filter: brightness(200%);
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-size: 2rem;
    color: white;
}

fieldset {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 20px;
}

legend {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

input[type="text"] {
    /* background: rgba(255, 255, 255, 0.2); */
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-size: 1.8rem !important;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.form-control {
    background: transparent!important;
    color: white;
}

.form-control {
    font-size: 2rem;
}

button[type="submit"] {
    background: var(--color-blue);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    /* background-color: #D3DA83; */
    background-color: var(--color-blue-dark)
}

button[type="submit"]:active,
button[type="submit"]:focus,
button[type="submit"]:hover {
    background: var(--color-blue-dark);
    color: #E9B02C;
    transform: scale(1.02) translateY(5px);
    transition: transform 0.3s ease;
}