<section class="events gallery">
    <article class="left">
		<div class="desktopContent">
			<div class="desktopContentSection">
				<h1>Fiesta rural</h1>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est recusandae ipsum quisquam! Expedita, veritatis. Praesentium illo natus itaque dicta officiis?</p>
			</div>
			<div class="desktopContentSection">
				<h1>Noche de museos</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim veniam eos deserunt, saepe quod accusantium rem tempora provident! Architecto, laboriosam.</p>
			</div>
			<div class="desktopContentSection">
				<h1>Semana de la cerveza</h1>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed officiis nulla pariatur expedita dignissimos laborum blanditiis ab repellendus eius a.</p>
				<p>Pink is also used in the food industry, as it is associated with sweetness and desserts. Pink is often used in breast cancer awareness campaigns, as it has become the signature color of the movement. </p>
			</div>
			<div class="desktopContentSection">
				<h1>Jineteada criolla</h1>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi magni exercitationem cum laborum dicta incidunt sunt illum repellendus animi aut.</p>
			</div>

		</div>
	</article>

	<article class="right">

		<!-- mobile content -->
		<section class="mobileContent">
			<figure class="mobilePhoto red"></figure>
			<h1>Fiesta rural</h1>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est recusandae ipsum quisquam! Expedita, veritatis. Praesentium illo natus itaque dicta officiis?</p>

			<figure class="mobilePhoto green"></figure>
			<h1>Noche de los museos</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium unde corporis commodi, alias mollitia consequuntur dicta aut neque nobis. Rem.</p>

			<figure class="mobilePhoto pink"></figure>
			<h1>Semana de la cerveza</h1>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore ipsum cupiditate temporibus facilis, nemo commodi iusto error obcaecati eveniet exercitationem.</p>

			<figure class="mobilePhoto blue"></figure>
			<h1>Jineteada criolla</h1>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore ipsum cupiditate temporibus facilis, nemo commodi iusto error obcaecati eveniet exercitationem.</p>
		</section>

		<!-- desktop content -->

		<section class="desktopPhotos">
			<div class="desktopPhoto red"></div>
			<div class="desktopPhoto green"></div>
			<div class="desktopPhoto pink"></div>
			<div class="desktopPhoto blue"></div>
		</section>

	</article>

</section>