<div class="container-events">
	<div class="spacer">
	<span class="line"></span>
	<h2 class="event-title">Eventos Próximos</h2>
	<span class="line"></span>
</div>

<section class="events gallery">
    <article class="left">
		<div class="desktopContent">
			<div class="desktopContentSection">
				<h1 >Fiesta rural</h1>
				<h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est recusandae ipsum quisquam! Expedita, veritatis. Praesentium illo natus itaque dicta officiis?</h4>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus odit pariatur ullam dolorem voluptates incidunt earum qui deleniti molestiae consequatur molestias, autem itaque dolores ipsa alias nam? Quisquam amet ipsum reprehenderit et, ut quos facilis labore qui vel, officia veniam quas, at voluptatum id. Fugiat laborum nihil architecto veritatis asperiores!</p>
			</div>
			<div class="desktopContentSection">
				<h1>Noche de museos</h1>
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim veniam eos deserunt, saepe quod accusantium rem tempora provident! Architecto, laboriosam.</h4>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus odit pariatur ullam dolorem voluptates incidunt earum qui deleniti molestiae consequatur molestias, autem itaque dolores ipsa alias nam? Quisquam amet ipsum reprehenderit et, ut quos facilis labore qui vel, officia veniam quas, at voluptatum id. Fugiat laborum nihil architecto veritatis asperiores!</p>
			</div>
			<div class="desktopContentSection">
				<h1>Semana de la cerveza</h1>
				<h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed officiis nulla pariatur expedita dignissimos laborum blanditiis ab repellendus eius a.</h4>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus odit pariatur ullam dolorem voluptates incidunt earum qui deleniti molestiae consequatur molestias, autem itaque dolores ipsa alias nam? Quisquam amet ipsum reprehenderit et, ut quos facilis labore qui vel, officia veniam quas, at voluptatum id. Fugiat laborum nihil architecto veritatis asperiores!</p>

			</div>
			<div class="desktopContentSection">
				<h1>Jineteada criolla</h1>
				<h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi magni exercitationem cum laborum dicta incidunt sunt illum repellendus animi aut.</h4>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus odit pariatur ullam dolorem voluptates incidunt earum qui deleniti molestiae consequatur molestias, autem itaque dolores ipsa alias nam? Quisquam amet ipsum reprehenderit et, ut quos facilis labore qui vel, officia veniam quas, at voluptatum id. Fugiat laborum nihil architecto veritatis asperiores!</p>

			</div>

		</div>
	</article>

	<article class="right">

		<!-- mobile content -->
		<section class="mobileContent">
			<figure class="mobilePhoto red"></figure>
			<h1>Fiesta rural</h1>
				<h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est recusandae ipsum quisquam! Expedita, veritatis. Praesentium illo natus itaque dicta officiis?</h4>


			<figure class="mobilePhoto green"></figure>
			<h1>Noche de los museos</h1>
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium unde corporis commodi, alias mollitia consequuntur dicta aut neque nobis. Rem.</h4>

			<figure class="mobilePhoto pink"></figure>
			<h1>Semana de la cerveza</h1>
			<h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore ipsum cupiditate temporibus facilis, nemo commodi iusto error obcaecati eveniet exercitationem.</h4>

			<figure class="mobilePhoto blue"></figure>
			<h1>Jineteada criolla</h1>
			<h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore ipsum cupiditate temporibus facilis, nemo commodi iusto error obcaecati eveniet exercitationem.</h4>
		</section>

		<!-- desktop content -->

		<section class="desktopPhotos">
			<div class="desktopPhoto red"></div>
			<div class="desktopPhoto green"></div>
			<div class="desktopPhoto pink"></div>
			<div class="desktopPhoto blue"></div>
		</section>

	</article>

</section>
</div>

