<div class="container-events">
	<div class="spacer">
		<span class="line"></span>
		<h2 class="event-title">Eventos Próximos</h2>
		<span class="line"></span>
	</div>

	<section class="events gallery">
		<article class="left">
			<div class="desktopContent">
				<div class="desktopContentSection">
					<h1>Fiesta rural</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quae veniam repellat sunt, doloribus distinctio, reiciendis et accusantium exercitationem iste architecto labore fugiat aperiam mollitia explicabo facere! Laborum quod veniam obcaecati iure, explicabo quisquam sapiente aut saepe, vero eligendi corporis aliquid iste inventore magnam animi veritatis temporibus eius dignissimos quia.</p>
				</div>
				<div class="desktopContentSection">
					<h1>Noche de museos</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolorem nihil praesentium. Pariatur fuga, beatae blanditiis delectus deserunt sed, repellendus aliquid omnis accusamus harum ex? Quam sed numquam architecto debitis aliquid enim itaque corporis consequatur, nihil dignissimos aperiam repellat aspernatur iure magni, quas reiciendis unde non ab exercitationem rerum. Fugiat!</p>
				</div>
				<div class="desktopContentSection">
					<h1>Semana de la cerveza</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi at nemo cumque dolorum? Facilis qui doloribus consectetur, culpa accusantium quos quae incidunt, quas impedit nam libero vitae molestiae modi vel! Cupiditate, ipsa mollitia consequatur nostrum maxime vel, labore nesciunt dolores explicabo impedit natus odit distinctio iusto quisquam neque dolorem laboriosam.</p>

				</div>
				<div class="desktopContentSection">
					<h1>Jineteada criolla</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi at nemo cumque dolorum? Facilis qui doloribus consectetur, culpa accusantium quos quae incidunt, quas impedit nam libero vitae molestiae modi vel! Cupiditate, ipsa mollitia consequatur nostrum maxime vel, labore nesciunt dolores explicabo impedit natus odit distinctio iusto quisquam neque dolorem laboriosam.</p>
				</div>

			</div>
		</article>

		<article class="right">

			<section class="mobileContent">
				<div class="mobileContentSection">

					<figure class="mobilePhoto red"></figure>
				<h1>Fiesta rural</h1>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident dignissimos corrupti consectetur quae impedit numquam error. Consectetur ab aliquam vitae!</p>
				</div>
				

				<div class="mobileContentSection">
				<figure class="mobilePhoto green"></figure>
				<h1>Noche de los museos</h1>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident dignissimos corrupti consectetur quae impedit numquam error. Consectetur ab aliquam vitae!</p>
				</div>

				<div class="mobileContentSection">
				<figure class="mobilePhoto pink"></figure>
				<h1>Semana de la cerveza</h1>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident dignissimos corrupti consectetur quae impedit numquam error. Consectetur ab aliquam vitae!</p>
				</div>
			</section>

			<section class="desktopPhotos">
				<div class="desktopPhoto red"></div>
				<div class="desktopPhoto green"></div>
				<div class="desktopPhoto pink"></div>
				<div class="desktopPhoto blue"></div>
			</section>

		</article>

	</section>

	
</div>