<section class="sec-01">
    <div class="container">
        <h2 class="main-title">Servicios</h2>
        <div class="content">
            <div class="image">
                <img src="https://images5.alphacoders.com/302/thumb-1920-302705.jpg" alt="">
            </div>
            <div class="text-box">
                <h3>Lorem ipsum </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium exercitationem voluptate
                    inventore optio quia dolorum assumenda molestiae magni cum sit.</p>
            </div>
           
        </div>
    </div>
</section>

<section class="sec-02">
    <div class="container">
        <h3 class="main-title">Lorem Ipsum</h3>
        <div class="content">
            <div class="image">
                <img src="https://images5.alphacoders.com/302/thumb-1920-302705.jpg" alt="">
            </div>
            <div class="text-box">
                <h3>Lorem ipsum </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium exercitationem voluptate
                    inventore optio quia dolorum assumenda molestiae magni cum sit.</p>
            </div>
           
        </div>
    </div>
</section>