<section class="sec-01">
    <div class="container">
        <h2 class="main-title">Servicios</h2>
        <div class="content">
            <div class="image">
                <img src="https://cadenaser00.epimg.net/ser/imagenes/2021/02/04/ser_andujar/1612467484_635089_1612468105_noticia_normal_recorte2.jpg"
                    alt="Clubes Municipales" class="service-img">
            </div>
            <div class="text-box">
                <h3>Clubes Municipales </h3>
                <p>La Administración Municipal abre inscripciones para nuestros Clubes Deportivos, ofreciendo una amplia
                    variedad de actividades para todas las edades y niveles de habilidad. Desde fútbol hasta tenis,
                    promovemos un estilo de vida activo y saludable. Contáctanos para inscripciones y horarios.</p>
            </div>

        </div>
    </div>
</section>

<section class="sec-02">
    <div class="container">
        <h3 class="main-title">Lorem Ipsum</h3>
        <div class="content">
            <div class="image">
                <img src="../../../assets/img/Paseo-de-la-Guitarra-1.jpeg" alt="" class="service-img">
                <img src="../../../assets/img/Credential.png" alt="" class="cred-img">
            </div>
            
            <div class="text-box">
                <h3>Credencial de Usuario </h3>
                <p>La Administración Municipal se enorgullece de presentar la nueva Credencial de Usuario, diseñada
                    para ofrecerte descuentos exclusivos en fiestas y eventos locales. Con tecnología QR integrada,
                    esta credencial te brinda acceso rápido y conveniente a tus actividades favoritas.</p>
            </div>

        </div>
    </div>
</section>