<section class="sec-01">
    <div class="container">
        <h2 class="main-title">Servicios</h2>
        <div class="content">
            <div class="image">
                <img src="https://images5.alphacoders.com/302/thumb-1920-302705.jpg" alt="">
            </div>
            <div class="text-box">
                <h3>Lorem ipsum </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium exercitationem voluptate
                    inventore optio quia dolorum assumenda molestiae magni cum sit.</p>
            </div>
            <div class="media-icons"><a href="" class="icon">
                    <i></i>
                </a></div>
        </div>
    </div>
</section>

<section class="sec-02">
    <div class="container">
        <h3 class="section-title">Lorem Ipsum</h3>
        <div class="content">
            <div class="image">
                <img src="https://th.bing.com/th/id/OIP.XhEb3YfMXsqR43H8KVygbAHaEK?rs=1&pid=ImgDetMain" alt="">
            </div>
            <div class="info">
                <h4 class="info-title">Description</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima nihil fuga optio error? Veniam
                    animi eveniet ab, optio maiores nulla?</p>
            </div>
        </div>
    </div>
</section>